body, html {
    height: 100%;
    width: 100%;
    position: fixed;
}
.calender-head {
   text-align: center;
   font-weight: bold;
}
.calenderaway {
    color: #FFFFFF;
    background-color: #FF0000;
}
.setWeek {
    text-align: right;
}
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
