<div>
    <ul class="nav nav-tabs" ng-init="tab = 1">
        <li role="presentation" ng-click="tab = 1" ng-class="{active: tab === 1}"><a href>{{'admin_tab_home' | translate}}</a></li>
        <li role="presentation" ng-click="tab = 2" ng-class="{active: tab === 2}"><a href>{{'admin_tab_members' | translate}}</a></li>
        <li role="presentation" ng-click="tab = 3" ng-class="{active: tab === 3}"><a href>{{'admin_tab_vacations' | translate}}</a></li>
    </ul>
    <div class="panel" ng-show="tab === 1">
        home
    </div>
    <div class="panel" ng-show="tab === 2">
        <ul>
            <li ng-repeat="member in members">{{member.name}} <{{member.email}}></li>
        <li><form name="addMemberForm" novalidate>
            Name: <input type="text" name="name" ng-module="adminCtrl.memberTextfieldName" required />
            E-Mail: <input type="email" name="email" ng-module="adminCtrl.memberTextfieldMail" required />
            <input type="submit" name="submit" value="add" />
        </form></ul>
        {{addMemberForm.$valid}}
    </div>
    <div class="panel" ng-show="tab === 3">
        vacations
    </div>
</div>
