<div>
   <div class="setWeek"><button ng-click="homeCtrl.changeWeek(homeCtrl.week - 1)"><</button> <button ng-click="homeCtrl.changeWeek(homeCtrl.week + 1)">></div></div> {{homeCtrl.weekFrom() | date}} - {{homeCtrl.weekTo() | date}}
   <table style="width:100%" ng-init="homeCtrl.loadDays()" border=1>
       <tr>
           <td class="calender-head">Name</td>
           <td class="calender-head" ng-repeat="day in homeCtrl.dayList">{{ day.name }}</td>
       </tr>
       <tr ng-repeat="member in homeCtrl.members">
           <td>
           {{ member.name }}
           </td>
           <td ng-repeat="day in homeCtrl.dayList" ng-class="{calenderaway: homeCtrl.isAway(member.email, day.timestamp) }"></td>
       </tr>
   </table>
   </ul>
</div>
